[2019-10-11 00:02] fejta opened #3 "Consider creating OWNERS files"
cc @hopkiw

The approve plugin expects there to be OWNERS files in the repo. Consider creating them and/or filing a PR to disable the approve plugin in these repos.

[code]

[2020-01-13 21:17] #3 closed

[2020-03-05 20:33] benmoss opened #31 "panic: syscall: string with NUL passed to StringToUTF16"
Trying to run a powershell startup script on my machine and getting this error from the agent as its running:

[code]

[2020-03-05 20:46] benmoss commented on #31
The relevant part of the startup script:

[code]

[2020-03-23 19:22] schoonovernumerics opened #32 "CentOS 8 - google-guest-agent.service fails to start"
I'm working with CentOS-8 Images on GCP (projects/centos-cloud/global/images/centos-8-v20200316). When booting with this image, the google-guest-agent.service fails to start and returns the following error :
[code]
For reference, the instance that generated this error is created with Hashicorp's Packer (v1.5.4) and executes a startup script that runs `yum install` on a few packages.

[2020-03-23 19:30] hopkiw commented on #32
@schoonovernumerics thank you for the bug report!

Can you elaborate a little on the role of packer? Packer is usually used for creating derivative images, but I see you are using an official CentOS 8 image. If I launch that image directly, I'm not able to reproduce the issue you're seeing. Is there any surrounding context to this log? Try providing the full log with `journalctl -u google-guest-ag

[2020-03-23 19:56] jonahbull commented on #32
We're also running into this when we attempt to use Packer (v1.4.2) to boot the latest CentOS 8 (`centos-8-v20200316`) or RHEL 8 (`rhel-8-v20200319`) images from `centos-cloud` or `rhel-cloud`. We use `packer` to launch a base image and then provision it using `ansible` and save a new custom GCE image. Here's some additional log context from the serial console:
[code]
Let me know if there's anythi

[2020-03-23 20:01] schoonovernumerics commented on #32
I'm using Packer to create a custom image on top of the CentOS-8 image. Ultimately, what happens is that Packer fails to build an image due to SSH authentication issues, and I'm suspecting the reported issue on guest-agent is related. My current builds with CentOS-7 do not exhibit any issue.
[code]

[2020-03-23 20:13] schoonovernumerics commented on #32
Here's a more complete log from the serial port of the instance created by Packer
[code]

[2020-03-23 20:14] jonahbull commented on #32
Oh, forgot to mention, the previous CentOS 8 image (`centos-8-v20200309`) did not exhibit this behavior.

[2020-03-23 23:21] hopkiw commented on #32
OK it looks like it is a new issue specific to derivative images and SSH key generation on boot. will link any follow-ups to this issue. if you're impacted, you can still use the deprecated image centos-8-v20200309

[2020-03-24 04:58] Tfmenard commented on #32
This actually looks like a Packer issue.
https://github.com/hashicorp/packer/issues/8924#issuecomment-602873329

This PR https://github.com/hashicorp/packer/pull/6445#issue-198662956
was never merged and packer is still using the deprecated "sshKeys" metadata instead of "ssh-keys"

[2020-03-24 17:23] hopkiw commented on #32
the deprecated sshKeys metadata should not cause this issue - though i will appreciate if packer fixes that, this seems to have been just a bug in the new guest software :) PR is linked to this issue.

[2020-03-24 21:30] #32 closed

[2020-04-24 00:27] zmarano opened #38 "MetadataRunner should (possibly) ignore whitespace at top of string"
If you create a metadata script with an extra line or white space at the beginning, it will attempt to execute in the default shell. So if you have a script that tries to use python or another shell and has an extra line, it will fail. We should consider stripped out extra whitespace from the beginning of the value. This is an edge case regression from the previous agent.

[2020-04-24 17:38] #38 closed

[2020-05-14 15:48] capennington opened #41 "unquoted service path with gceagent windows service"
We have GCEAgent installed on windows hosts (version: 20200506.00) .  Recently, our Nessus Scanners  found a vulnerability with the agent related to this exploit -> https://www.commonexploits.com/unquoted-service-paths .  Confirmed BINARY_PATH_NAME doesn't have quotes using Windows queryserviceconfig utility

[2020-05-19 21:13] brandonbell opened #42 "hwclock silently failing due to non-existant noadjtime option"
`/sbin/hwclock` silently fails on at least `debian-9-stretch-v20200420` in https://github.com/GoogleCloudPlatform/guest-agent/blob/180a70a1bc0e9078ed4b9e62ff184f41e8af7698/google_guest_agent/clock.go#L56 due to non-existant  `--noadjtime` option.

[code]

[2020-05-27 19:45] adjackura commented on #41
FIxed in #44, this was a recent change in the config and caused by very frustrating quoting

[2020-05-29 14:41] capennington commented on #41
Thanks for looking into this!  I'll close this ticket

[2020-05-29 14:41] #41 closed

[2020-05-29 19:10] illfelder opened #49 "Add unit test coverage for metadata server IPs with subnets"
We should validate that IPs returned by the metadata server are correctly parsed and tested against expected IP values. This is needed to validate we do not break the alias IP feature in the future.

[2020-06-03 17:25] zmarano opened #51 "Cleanup references to distro logic that should be generic"
In this PR, we are fixing when to disable NetworkManager but doing it only for distro logic which we assume to be the case. Instead, we should actually look for NetworkManager to be active (installed or otherwise) to do this as opposed to only looking for what we know the baseline case to be for EL7/8.

https://github.com/GoogleCloudPlatform/guest-agent/pull/50

[2020-06-05 13:29] rsicart opened #54 "Local route not set on MIG instances with ipv6 disabled behind TCP ILB"
Thanks to GCP Support on a case, we found that the following setup causes guest-agent to not set local route to ILB IP address:

* 1 http healthcheck on port 80
* 1 instance template
* 1 MIG with 3 instances
* 1 TCP ILB
* 1 BackendService

Instances are debian-9 based, with a custom image build on top of debian-cloud images.
We use packer to build images, and to setup instance middlewares and para

[2020-06-05 14:03] ti-mo commented on #54
Just ran into the exact same issue right as this was posted! Adding and removing instances to/from a backend at runtime works fine, but rebooting (or recreating) it will cause the `google-guest-agent` to fail its startup sequence and skip fetching/adding these addresses.

[2020-06-05 14:42] rsicart commented on #54
As an patch solution, if you're blocked, you can set all flags to 0, or remove them:

* `net.ipv6.conf.all.disable_ipv6=0`
* `net.ipv6.conf.default.disable_ipv6=0`

And specific network interface, p.e.:

* `net.ipv6.conf.eth0.disable_ipv6=0`

And reboot the instance.

But I think that Guest Agent should handle the case where ipv6 is not enabled.

[2020-06-08 16:21] hopkiw commented on #54
what version of the guest agent are you using when you encounter this bug?

[2020-06-08 16:34] hopkiw commented on #54
based on the log output you give above, I believe this issue was fixed in #43
can you update to version `20200529.00` or later, and see if the issue persists?

[2020-06-09 09:01] rsicart commented on #54
We are using version `google-guest-agent/now 1:20200410.01-g1 amd64 [installed,upgradable to: 1:20200529.00-g1]` on debian stretch.

I'll try to test the new version today to confirm that it solves the issue. Thanks

[2020-06-09 11:38] rsicart commented on #54
Version `20200529.00` seems to solve the issue, I can see local route configured correctly.

Just for curiosity, was this regression introduced when you replaced python package by golang package?

Could you please publish a new image on debian-cloud, for image family debian-9?

Thanks in advance.

[2020-06-15 08:56] rsicart commented on #54
@hopkiw do you have a feedback for my last comment ?

[2020-06-15 17:55] hopkiw commented on #54
Yes, this bug existed in the new guest agent at launch.

[2020-06-30 19:28] #54 closed

[2020-07-01 18:27] glaubitz opened #60 "Building google-guest-agent on openSUSE/SLE fails with "undefined: errors.Is""
I'm currently working on packaging ```guest-agent``` for openSUSE/SLE [1]. While ```google_metadata_script_runner``` builds fine, ```google-guest-agent``` fails with the following error:

[code]
FWIW, I'm building with ```-mod=vendor``` as we don't allow accessing the internet during build time (like it's standard for most Linux distributions).

From the error, it looks like the ```errors``` class

[2020-07-01 18:36] glaubitz commented on #60
It looks like ```errors.Is()``` was added in Go 1.13 [1], while ```go.mod``` has the requirement for Go 1.12.

[2020-07-06 21:52] gerow opened #61 "/etc/boto.cfg contains bogus `default_apt_version = 2` config"
Looks like this is set in https://github.com/GoogleCloudPlatform/guest-agent/blob/master/google_guest_agent/instance_setup.go#L271

From what I can tell of the docs this is meant to be `default_api_version = 2`.

[2020-07-06 21:56] hopkiw commented on #61
thanks for this, will correct.

[2020-07-06 22:58] #61 closed

[2020-07-08 14:42] runlevel5 commented on #60
FYI I could reproduce this issue on Go 1.12.12

[2020-07-08 14:56] glaubitz commented on #60
It builds fine for me with Go 1.14, I didn't test 1.13.

[2020-08-06 20:23] rjschwei opened #65 "Update the search domain"
A user has the option of setting a FQDN when creating an instance. The agent should expand the search domain by the domain provided as part of the FQDN set by the user.

The default search domain is provided by the DHCP server of GCE the addition of the search domain for a custom FQDN hostname provided should be handled by the agent.

This is distribution specific. For SUSE the /etc/sysconfig/netw

[2020-08-20 19:06] gaohannk commented on #51
Closed (https://github.com/GoogleCloudPlatform/guest-agent/pull/63) after discussion with @hopkiw

[2020-09-01 09:33] axot opened #74 "Delete routing table gracefully"
We observed  connection time out in our client-side whenscale in or performing a rolling update of MIGs,

The workflow is,
Client -> ILB -> MIGs instance.

Before ACPI G2 soft off signal received[1], the routing table was already deleted 1 second before[2]. This caused these long connections will be a timeout.

[1]
![image](https://user-images.githubusercontent.com/611054/91833418-a61bd680-ec81-11

[2020-09-03 04:59] axot commented on #74
Hi, @gaohannk @hopkiw, could you take a look for this case?

[2020-09-03 18:34] hopkiw commented on #74
what does 'more graceful' mean? i don't follow your request at all

[2020-09-04 02:00] axot commented on #74
Hi @hopkiw, thank you for follow up this issue,
Because of forwarded ip in routing table will be deleted before shutdown-script,
this impact these active connections, we designed to send FIN or RST in our shutdown-script logic,
but these packets could not be arrived to client-side.

My opinion is, if google want to delete forwarded ip in routing table before shutdown-script,
it should send RST pac

[2020-09-08 17:50] hopkiw commented on #74
We don't delete routes unless they've been removed from the metadata server. Does pressing the 'power button' cause routes to be deleted from the metadata server? I will attempt to reproduce this.

The guest agent does not have any way to issue RST to destination of existing socket connections owned by other processes on the system.

[2020-09-09 03:05] axot commented on #74
We found this behavior will happen with the following setups.

1. Create MIGs.
2. Add a L4 TCP ILB in front of MIGs with connection draining enabled. eg: 60 seconds timeout.
3. Establish long tcp connections from client to MIGs instances via ILB.
4. Perform scale down on MIGs, eg: 3 to 2 instances.

You will see forwarded IP(ILB's IP) will be deleted before 'power button' event.

If you test press

[2020-09-15 05:15] jeffmccune opened #76 "google-guest-agent.service interferes with policy routing"
Overview
===

Using a centos-cloud/centos8 multinic VM instance as an IP router between two VPC networks, [Policy Routing](https://cloud.google.com/vpc/docs/create-use-multiple-interfaces#configuring_policy_routing) is configured as below.  When `systemctl restart google-guest-agent.service` happens, Policy Routing is reconfigured in a way that breaks IP routing.

Expected behavior
===

I expected

[2020-09-16 18:14] jeffmccune commented on #76
@hopkiw Thanks for taking a look at this issue.  Here's what I found:

Root Cause
---

The [Policy Routing](https://cloud.google.com/vpc/docs/create-use-multiple-interfaces#configuring_policy_routing) tables break when the guest-agent calls `dhclient -x` [here](https://github.com/GoogleCloudPlatform/guest-agent/blob/20200826.00/google_guest_agent/addresses.go#L520).  The chain of events is:

 1. `

[2020-09-16 18:50] hopkiw commented on #76
It's not clear why we would need step 3 with an "if" when in step 2 we're guaranteeing the environment variable will always be present.

If we remove `dhclient -x`, whether conditionally or not, we may pile up dhclient processes. The guest agent doesn't know the state at startup - is this a first boot, or is it a restart, or startup after a crash? So for safety, we kill existing dhclient processes

[2020-09-16 18:54] hopkiw commented on #76
Also, we still support some non-systemd distributions.

can you share this documentation? the manpage doesn't mention this.

[2020-09-16 22:34] jeffmccune commented on #76
@hopkiw Thanks for following up.

My intent for `SKIP_DHCLIENT_X=yes` is to change the `dhclient -x` behavior only when running in the context of systemd, which cleans up the process group.  For non-systemd distributions `dhclient -x` behavior doesn't change, hence the conditional.

I'd like to better understand the situations they pile up.  Here's what I've thought about / tried:

 1. guest-agent

[2020-09-17 17:06] hopkiw commented on #76
Thanks for this thorough investigation. I think this only leaves the case of whether some other dhclient process is running, and we should decide if that's OK. And whether `KillMode=control-group` will have any other side effects for other guest behavior.

[2020-09-17 22:09] jeffmccune commented on #76
How do you want other dhclient process handled?  My suggestion is to limit
the guest-agent kill behavior to processes it creates, not kill others.
For example, a dhclient eth0 process should likely be left alone.

There shouldn't be any KillMode=control-group side effects, it's is the
systemd default so behavior won't change.  Adding it explicitly because
guest-agent depends on the behavior once d

[2020-09-23 01:46] axot commented on #74
Is there any workaround to improve this behavior?
How about disable `network_enabled` once the agent has been completed to configure the network?

[2020-09-24 01:09] gaohannk commented on #42
/assign @gaohannk

[2020-09-24 18:58] hopkiw commented on #74
MIG scale down sends the usual instances.terminate signal; the guest agent shuts down first, prior to running shutdown scripts. so i ran a shutdown script that shows the routes still existed after the shutdown of the guest agent.

[2020-09-24 23:13] axot commented on #74
Thank you for the investigation, one thing I want to confirm is did you setup a L4 ILB in front of your MIG instance with connection draining enabled?

[2020-09-25 21:58] gaohannk commented on #42
/close

[2020-09-28 20:23] #76 closed

[2020-09-29 22:10] #42 closed

[2020-09-30 18:41] Matir opened #80 "Improper parsing of /etc/passwd when username is suffix of another user"
Steps to reproduce:

1. Create a user `testagent` with SSH keys in project/instance metadata.
2. Wait for agent to create user & provision.
3. Create a user `agent` with SSH keys in project/instance metadata.
4. Observe keys for user `agent` written into `/home/testagent/.ssh/authorized_keys`

This occurs because the code for `getPasswd` only checks that the entry in `/etc/passwd` *contains* the u

[2020-10-01 16:30] #80 closed

[2020-10-22 14:20] rcj4747 opened #84 "google-startup-scripts service no longer waits for cloud-init/snapd.seeded"
Filed in [Ubuntu bug #1901033](https://bugs.launchpad.net/ubuntu/+source/google-guest-agent/+bug/1901033) as well.

We have an Ubuntu cloud-images qualification test for google startup scripts to ensure that cloud-init customizations are available before the user startup script is run. That test is failing and investigation shows that we have a functional regression from gce-compute-image-packages

[2020-10-22 15:05] rbalint commented on #84
Those changes were added by downstream patches, thus the regression will be fixed in Ubuntu. This issue hopefully helps users triaging this problem.

[2020-10-22 15:06] rcj4747 commented on #84
Thank you @rbalint

As a workaround until our fix lands in Ubuntu packaging in Groovy (20.10) users can add `cloud-init status --wait` to the beginning of their startup script (as cloud-init does wait for snap seeding to complete).

[2020-10-22 15:13] davidkrauser opened #85 "Unable to inspect configuration of running google-guest-agent"
Filed in [Ubuntu Bug #1901042](https://bugs.launchpad.net/ubuntu/+source/google-guest-agent/+bug/1901042) as well.

We have a cloud-images qualification test for the google-guest-agent to ensure the following daemons are enabled for GCE images:

- accounts_daemon
- clock_skew_daemon
- network_daemon

I could not find a way to inspect a currently running agent to determine the configuration in use.

[2020-10-27 20:35] hopkiw commented on #85
It's actually a bit misleading even to say the agent supports those actions (run, install, remove, etc.). As far as our documentation states, we do not support invoking the guest agent in any way. Nor do we support any kind of introspection by users; the settings are always those that exist in the config file at run time.

[2020-10-27 20:36] hopkiw commented on #85
As for your use case, you can no longer or should no longer ensure the three legacy daemons are enabled. You could check that they are configured to be enabled (or not configured to be disabled, as they are enabled by default). We no longer have 3 distinct daemons, but the legacy config options are still respected for the relevant functional areas.

[2020-11-02 20:50] davidkrauser commented on #85
Hi @hopkiw,

Sorry, I didn't explain this well. The default Ubuntu images do not ship with a configuration for the Google guest agent, and we want to be able to ensure that new Ubuntu images still have expected functionality enabled and available. The attached PR allows us to parse the agent logs and verify that new Ubuntu images have all expected functionality enabled.

Additionally (from the per

[2020-11-02 21:13] hopkiw commented on #85
Even if you don't provide a configuration file, the defaults will apply. We aren't going to add a feature that dumps the entire config to logs and serial console. You'll have to test the functionality itself, not reporting from the agent. Some of these features are also affected by metadata keys.

I don't disagree about the issue of a bad config file, but it hasn't been reported to us by customers

[2020-11-03 15:48] davidkrauser commented on #85
Hi @hopkiw,

I think that I've come about this backwards - I've proposed a solution to help us fit the agent into our existing Ubuntu cloud image acceptance tests, but I should be asking how we can modify our acceptance tests to fit the new agent.

Our goal with these tests is to ensure that new Ubuntu images for GCP work reliably and effectively for GCP users. A big piece of that is ensuring that

[2020-11-03 18:35] hopkiw commented on #85
It's a big topic! I own all the tests that we run for the agent today, but they are currently run within Google infrastructure. Part of our plans for the next year is to move those tests to a publicly consumable test suite that others can rely on, copy or mimic. I would be glad to discuss how we do that testing, which is largely a set of end to end feature tests. Let's set up some meeting or email

[2020-12-14 18:13] zmarano opened #93 "Cloud logging fails due to metadata value propagation"
The agent's cloud logging export fails since #82.

[code]

The project string is empty (not getting populated from metadata). This isn't distro specific and is consistent with the updated agent.

[2020-12-14 18:47] hopkiw commented on #93
this was caused by delaying the metadata host lookup. should be fixed in incoming PR

[2020-12-14 20:59] #93 closed

[2021-01-27 21:17] zmarano opened #95 "Make sure restorecon is called on file creation/modification"
For selinux enabled systems (enterprise Linux), make sure restorecon is called after file creation or modification. In particular ssh host key generation.

[2021-02-22 10:43] AdriVanHoudt opened #100 "Clock skew Debian 10"
Hi,

I've noticed some clock skew on compute engine instances running debian 10 (debian-10-buster-v20200805).
Running `/sbin/hwclock --hctosys -u --noadjfile` fixed the issue.
But I can't seem to find a conclusive answer as to how the image is syncing the clock.
As far as I understand now the guest agent runs the clock sync on start and migration?
But there is nothing that runs the sync periodical

[2021-02-22 18:34] zmarano commented on #100
Hi!
An NTP client is setup on all the public base images for this purpose. On Debian 10, this is chrony. You can find the configuration in  `/etc/chrony/chrony.conf`. The chrony service is enabled by default as well.

[code]

[2021-02-22 20:24] AdriVanHoudt commented on #100
Oh nice, thank you.

I'm seeing
[code]
And `/var/log/chrony` is empty.
Running `systemctl restart chrony` seems to have fixed it. But no idea why it was inactive in the first place 🤔

[2021-03-04 15:37] AdriVanHoudt commented on #100
I think I found the issue.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=947936
There is a conflict between chrony and systemd-timesyncd.
Now there seems to be a fix for systemd-timesyncd to fix this but this requires a newer version of systemd which doesn't seem like an out of the box solution atm.

I don't know if this is the correct place to report it then but it would be great if the base

[2021-03-05 19:58] zmarano commented on #100
/assign @hopkiw

[2021-03-26 12:52] ricbartm opened #103 "Restart Agent when SystemD Network unit is restarted"
### Environment
OS: Ubuntu 20.04 LTS
Kernel: 5.4.0-1037-gcp #40-Ubuntu SMP Fri Feb 5 11:57:53 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
SystemD version: 245.4-4ubuntu3.5
Google Guess Agent version: 20201217.02-0ubuntu1~20.04.0

### Problem
With the release of a security upgrade by Ubuntu on package [systemd](https://packages.ubuntu.com/focal-updates/systemd), the SystemD service `systemd-networkd` i

[2021-03-30 00:04] zmarano commented on #95
Fixed by #98

[2021-03-30 00:04] #95 closed

[2021-03-30 00:05] zmarano commented on #103
/assign @hopkiw

[2021-04-08 19:15] #103 closed

[2021-04-19 19:11] action opened #107 "Setting MetadataScripts startup to false may result in google-startup-scripts service to enter failed state"
**Problem:**
After disabling startup scripts in the instance config, the google-startup-scripts service may enter a failed state after rebooting the associated VM.

**Expectation:**
The google-startup-scripts service does not enter a failed state, after booting, because startup scripts are disabled in the instance config.

---

Snippet of detected failure:
[code]

Take a look at the service's stat

[2021-04-19 19:59] hopkiw commented on #107
this is by design. please take note of the output message when you invoke the startup script runner: "startup scripts disabled in instance config".

can you share what the impact of having this service in `ActiveState=failed` ?

[2021-04-19 20:51] action commented on #107
Thank you for the quick response and explaining that this might be expected behavior.

My team finds it a little odd for a service to be in a failed state and for a failed state to be an expected state for a service. Our general expectation is that a failed service means that attention is required. We expect that no services should be in a failed state on our system when things are configured succ

[2021-04-27 20:40] deiter opened #108 "Guest agent creates the same user accounts using different UIDs across multi-VM deployment"
**Guest agent creates the same user accounts using different UID's across multi-VM deployment**

**Steps to reproduce**
* Create more than one project members
* Deploy a Linux-based multi-VM environment using the same VM image (for example CentOS 7.9)
* Check list of OS users

**Expected results**
The same users have the same UID's across multi-VM deployment

**Actual results**
All project users w

[2021-04-27 21:12] hopkiw commented on #108
Thanks for your issue, @deiter. In response to your report, we have never offered any guarantees about UIDs with metadata-based SSH key management. If this is a requirement for your environment, I suggest managing instance access using OS Login: https://cloud.google.com/compute/docs/instances/managing-instance-access

[2021-04-27 21:12] #108 closed

[2021-05-12 07:58] glaubitz opened #109 "Confusing error message when SSH service is called 'sshd'"
The change in #106 added the capability to start the SSH service:

[code]

On openSUSE/SLE systems, the SSH service is called `sshd` which causes the above code snippet to output a confusing error message into the daemon's log due to the fact that the agent tries to start `ssh` first, then prints an error message and then tries to start `sshd` which is successful.

[code]

The code should probably

[2021-06-03 23:47] gehoern opened #114 "debian packaging not updated"
debian change log is still stuck with version 20191204.00, but upstream is at 20210524.00.

The other more immanent problem is: it does not build with debian testing anymore:

[code]

[2021-06-04 00:37] hopkiw commented on #114
Hi, @gehoern thank you for the issue. Can you expand a bit on how you are attempting to build this package and why? The packaging files in this repository are used for the Google-authored builds of these packages and are not official Debian build files, so we don't track the ability to build in testing. You can see the produced packages in our cloud repositories, configured by default on GCE VMs.

[2021-06-07 07:36] kladiv commented on #109
+1

[2021-06-09 23:32] gehoern commented on #114
We have higher demands for security, so we do not take "just compiled" binaries. Most of our used packages either compile completely for our cloud image or at least use packages that are reproducible (we have a valid source package).
Since you provide on the google repositories binary only builds - especially here for the go stuff - we cannot verify if we get what we expect. Since for Debian testi

[2021-06-10 00:07] hopkiw commented on #114
Thanks for your reply, @gehoern

Sure, being able to build from source is a common requirement. Our source code is provided here to enable builds from source. However, the packaging files here are only guaranteed to work for our own package building system and are unsupported for others. We don't guarantee that they will work in any build environment other than our own, and we don't guarantee that

[2021-07-02 16:43] zmarano opened #117 "Support chrony for time syncing"
We currently only try to call [ntpdate](https://github.com/GoogleCloudPlatform/guest-agent/blob/main/google_guest_agent/clock.go#L53) when syncing the clock after a migration event. However, most newer distros use chrony (or something else). Re-evaluate this code and maybe look at the default ntp client.

[2021-07-02 16:43] zmarano commented on #117
/assign @hopkiw

[2021-07-02 18:45] hopkiw commented on #117
hm, ntpdate is not ntpd, the ntpd->chrony change doesn't impact ntpdate. but i see ntpdate isnt widely installed anyway and is deprecated in favor of sntp.

[2021-07-21 13:41] dnsmichi commented on #103
We've discovered this issue & fix in an incident today on GitLab.com SaaS, sharing the RCA for visibility: https://gitlab.com/gitlab-com/gl-infra/production/-/issues/5196#note_632054352

[2021-07-21 17:05] zachberger opened #118 "Dont create /etc/sudoers.d/google_sudoers unless OS Login is enabled"
In [oslogin.go#L79](https://github.com/GoogleCloudPlatform/guest-agent/blob/main/google_guest_agent/oslogin.go#L79) we correctly guard the call to accountsMgr.set() on OS Login being enabled, however on [main.go#L118](https://github.com/GoogleCloudPlatform/guest-agent/blob/main/google_guest_agent/main.go#L118) we don't do this check first resulting in ` /etc/sudoers.d/google_sudoers` being created

[2021-07-23 23:10] ricbartm commented on #103
https://www.netlify.com/blog/2021/04/02/load-balancer-service-degradation-march-25-2021/ for visibility too

[2021-07-28 08:27] prahaladramji opened #119 "Package google-guest-agent install/re-install/upgrade triggers the shutdown-scripts to be executed on a running instance."
### Steps to reproduce. (tested on ubuntu 18.04)
1. create a GCE vm with base ubuntu 18.04
2. add metadata startup-script and shutdown-script as [documented](https://cloud.google.com/compute/docs/shutdownscript#gcloud)
3. once the vm is booted and running past startup scripts have executed run `sudo apt-get install --reinstall google-guest-agent`
4. watch the shutdown scripts being triggered and s

[2021-10-06 21:58] lborguetti opened #134 "google-guest-agent.service go to dead (inactive) when the VM is built with packer (image) and created with MIGs."
# Environment

OS: `Ubuntu 20.04 LTS`
Kernel: `5.11.0-1020-gcp #22~20.04.1-Ubuntu SMP Tue Sep 21 10:54:26 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
SystemD version: `systemd 245 (245.4-4ubuntu3.13)`
Google Guess Agent version: `20210629.00-0ubuntu1~20.04.0`

# Problem

We use the [packer](https://www.packer.io/) to create images and launch with [MIGs](https://cloud.google.com/compute/docs/instance-

[2021-10-11 22:30] hopkiw commented on #134
Thanks for the detailed report, @lborguetti
As mentioned by @jonahbull this is an issue with cloud-init, and being tracked in their system, and we will update this issue once a fix is released.

[2021-10-12 14:09] amontalban commented on #134
Thanks for the report @lborguetti, I'm having a similar issue but in my case, the load balancer routes are not created and therefore I cannot send traffic to the instances.

[2021-10-16 18:28] zbjornson opened #139 "nscd, unscd, cron and crond fail to restart"
When google-guest-agent tries to start, it seems to try to start nscd, unscd, cron and crond, but those units are not present on our servers.

[code]

Are these benign? If so, can they be downgraded from Errors?

These same error lines appear in #134, but in my case, the service is active/running, not dead.

[2021-10-22 11:34] mbanck opened #141 "google_metadata_script_runner runs temporary script with bash -c, fails on noexc /tmp"
The default appears to be that the scripts are being copied to a temp directory in `/tmp`, then executed via `bash -c ` (see line 299) of google_metadata_script_runner/main.go):

[code]

However, if `/tmp` is on a `noexec` file system (which is not uncommon in locked down environment) this fails and one gets an error like

[code]

Shouldn't it be possible to just let bash run the script directly,

[2021-11-18 21:41] zbjornson commented on #139
When lots of servers start or restart at once, we get 100s of these errors that end up triggering server alerts. Could someone please let us know if this is the same as #134 and thus being worked on? (Should I open a GCP Support case?)

[2021-11-18 21:52] hopkiw commented on #139
The background for these log messages: on startup, the guest agent makes configuration changes, then restarts services for the changes to take effect. It logs a warning message when a service isn't found, but it is benign.

We actually already reduced this extraneous logging in #122 so if you use an updated version of the guest agent, these logs should go away. I think some of our partner distribu

[2021-11-23 20:35] zbjornson commented on #139
Thanks @hopkiw. Indeed the latest version available from/for Ubuntu is 20210629.00. Do you know if there's a way to accelerate the release of a new version? (Is that done by Canonical or Google?)

[2021-11-23 21:30] hopkiw commented on #139
Canonical takes updates on a regular cadence, except for critical vulnerabilities, where we will ask them to prioritize an update or patch. I don't know if end users can influence the process, but I imagine you might try filing them a bug.

[2021-12-14 21:29] hopkiw opened #148 "Removing IPv6 forwarded IPs fails"
The current implementation of `getLocalRoutes` on UNIXlike systems does not obtain IPv6 routes, so it will never correctly reconcile the desired and actual routes correctly. It will fail to remove existing routes that should be removed.

[2021-12-22 20:55] mattdelco opened #149 "Improve handling of large process output when running metadata-script"
Things don't seem to be going well in the handling of large process output, either because of or in spite of pull #140.  In an instance log I see:

google_metadata_script_runner[980]: error while communicating with "startup-script-url" script: bufio.Scanner: token too long
google_metadata_script_runner[980]: 2021/12/22 18:51:17 logging client: rpc error: code = PermissionDenied desc = Request had

[2022-01-11 07:20] abbradar opened #153 "Error messages with immutable `/etc`"
On NixOS we have most of `/etc` generated with our declarative configuration system and mounted read-only (sans `/etc/{users,groups,shadow,gshadow}` when we allow mutable users). For example, we have our GCE support described in [one of our configuration modules](https://github.com/NixOS/nixpkgs/blob/80dceec801dc7e25b6ae41988fdd2a751b36e487/nixos/modules/virtualisation/google-compute-config.nix).

[2022-01-11 19:09] hopkiw commented on #153
This is not a scenario we want to support in the guest agent. It would require significant additional implementation of options and configurations that would be specific to NixOS and we would not be continuing to maintain support for this sort of environment as we add future changes. It seems that with a sufficiently complex custom OS, you should be maintaining your own patches to the guest agent

[2022-01-12 09:31] abbradar commented on #153
My vision is that this feature would be less about NixOS specifics and more about allowing distributions to opt out of "setup" phase of Guest Agent, in case their maintainers want to implement it by themselves. NixOS's declarative `/etc` is one example, but generally (in my experience) package maintainers try to set as much system configuration using their distribution's native tools as possible,

[2022-01-12 20:11] hopkiw commented on #153
Yes, the guest agent is a unique piece of software not intended for general consumption. A piece of software meant for general consumption may implement some paradigm similar to what you are suggesting, but the guest agent is targeted at the managed GCE user experience to provide maximum convenience. This is one reason it is not available in all distribution upstream repositories.

Unfortunately t

[2022-01-12 20:29] abbradar commented on #153
I understand your position, we will maintain our own patches. Thanks for the discussion!

[2022-01-12 20:29] #153 closed

[2022-02-17 01:49] nickkortman opened #157 "Bug determining expired keys in accountsMgr.diff()"
[This block](https://github.com/GoogleCloudPlatform/guest-agent/blob/main/google_guest_agent/non_windows_accounts.go#:~:text=%7D-,//%20If%20any%20on%2Ddisk%20keys%20have%20expired.,%7D,-//%20If%20we%27ve%20just) uses `getUserKeys` to determine if there are any keys that have expired since the last iteration. However, the keys in `sshKeys` are not of the format that `getUserKeys` expects (no "user:

[2022-02-18 19:15] hopkiw commented on #157
Thanks for catching this, Nick. You're right, we're unnecessarily reconciling users' ssh keys every minute. Luckily, this is the good kind of failure mode, compared to not refreshing them :)

We are considering replacing this logic with an SSH authorized keys command, as we do with OS Login. We will either fix this bug or make that transition. Will leave this issue open for tracking or any discuss

[2022-02-19 14:01] DanLesman opened #158 "Issue with 2 guest agents"
Hello,

I noticed that when my VM boots, it will randomly choose between two guest environments. In the logs, I see "GCE Agent Started" with either (version 20210908.1) or (version 20200610.00). The host key changes along with the agent version. The issue is that I am only able to access my conda environments and other information on one of these versions. Is there any way I can control or choose

[2022-02-23 00:28] #158 closed

[2022-03-02 11:54] codrinh opened #159 "CentOS - google-startup-scripts.service start Before=apt-daily.service"
I've noticed that on Centos 7.9 the systemd unit file for `google-startup-scripts` has the start `Before=apt-daily.service` which does not exist.

[code]

[2022-03-02 17:56] hopkiw commented on #159
That's fine, @codrinh . Nonexistent services are ignored in `After=` and `Before=`, they only matter if those units are being activated in the same process as the guest agent.

[2022-03-02 17:56] #159 closed

[2022-03-30 19:06] #148 closed

[2022-05-05 01:18] #85 closed

[2022-07-18 02:56] rogerhub commented on #157
Hi, can we have this fixed? It's causing confusing log spam for me:

[code]

Without context, this message suggests that the guest agent might not be updating SSH keys properly, which is alarming. It looks like this bug was introduced in #142? @gaohannk Any thoughts about this?

Thanks!

[2022-07-18 17:11] hopkiw commented on #157
that message does suggest your agent is not updating keys properly. i don't believe it is related to this issue.

[2022-07-18 17:34] rogerhub commented on #157
The same underlying bug causes both the unnecessary refresh as well as the log spam.

I work on GCE by the way :)

[2022-08-19 22:40] #157 closed

[2022-08-25 06:55] shneor521 opened #179 "Google Guest Agent hangs when starting with no IP on the main interface"
### Description
When the `google-guest-agent` service starts but the primary interface has no IP, it remains stuck.
The status of the service is constantly changing between `activating` and `deactivating`.

This causes other dependent networking commands like `systemctl start systemd-networkd`, and `netplan apply` to also get stuck.

[code]

### Setup
I'm using a GCP VM with Ubuntu 18.0.4 image.
T

[2022-08-25 18:02] hopkiw commented on #179
This is by design - the agent hangs until network is available. The guest agent is not responsible for configuring the primary interface.

[2022-08-28 17:31] shneor521 commented on #179
I understand what you are saying, but as explained in the description, other network commands are also stuck/don't work as expected during this condition.

For example, if a user wants to gain a new IP, he assumes he can execute `netplan apply`.
When the  "google-guest-agent" is in activating/deactivating loop mode, `netplan apply` does nothing, the interface doesn't get IP, and the system continu

[2022-08-28 18:17] pgillich opened #181 "More documentation about "Compute Engine cannot guarantee that the shutdown script will complete""
The https://cloud.google.com/compute/docs/shutdownscript#limitations states:

_- Compute Engine executes shutdown scripts only on a best-effort basis. In rare cases, Compute Engine cannot guarantee that the shutdown script will complete._

I spent a lot of hours to make sure the shutdown script will be complete,  because the correctly defined shutdown script has not been invoked or if it's invoked

[2022-08-29 17:13] hopkiw commented on #181
Thank you for your feedback. For documentation updates, please navigate to the documentation you wish to update and find the button marked 'send feedback' at the bottom of the page. We are only able to accept feedback related to the operation of the guest agent via github issues.

[2022-08-29 17:13] #181 closed

[2022-09-29 17:17] zbjornson opened #183 "Publish recent release packages"
The last release published to https://launchpad.net/ubuntu/+source/google-guest-agent (for Focal) is 20220622. Six releases have been made since then, and we're affected by a bug<sup>1</sup> that looks like it was fixed in 20220927 specifically. Is it possible to have a new deb published? Should I open an issue for that on launchpad?

Alternatively, should we be adding a different apt repo to our

[2022-09-29 21:00] hopkiw commented on #183
Hi  @zbjornson

Thanks  for filing this issue. Ultimately Canonical makes their own decisions about updating this software, but we will file a case with them to take updates.

We do not currently offer any directly available packages for Ubuntu, but if you file an issue  requesting it, we can track it as a feature request.

[2022-09-29 21:03] zbjornson commented on #183
Thank you @hopkiw !

[2022-09-29 21:08] #51 closed

[2022-11-09 20:13] jawnsy opened #190 "Load secrets from Google Secret Manager"
Cloud Run can automatically mount secrets from Secret Manager, and it would be nice if the guest agent or https://github.com/GoogleCloudPlatform/konlet could do the same thing

[2022-11-09 20:45] hopkiw commented on #190
Thanks for your FR. This would be far outside the scope of the guest agent, but feel free to file an issue to the konlet repo if you think it may be appropriate there.

[2022-11-09 20:45] #190 closed

[2022-11-21 22:10] hopkiw commented on #179
The guest agent is a critically required service for networking when installed, but it takes as an explicit assumption that the network has already been started. Otherwise, it will hang indefinitely until networking is available. If you want to use a custom network setup, you can disable or uninstall the guest agent (or the guest environment as a whole). We have no plans to make the guest agent ac

[2022-11-21 22:10] #179 closed